<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,700|Libre+Baskerville:400,400i,700|Noto+Serif+SC:400,700&display=swap&subset=chinese-simplified" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/all.css">
  <link rel="stylesheet" href="/assets/css/more.css">
</head>

<body>
  <nav id="nav" class="center">
{% for item_name in site.nav %}
{% assign nav_page = site.pages | where: 'name', item_name | first %}
    {% if page.name != nav_page.name %}<a href="{{ nav_page.url }}">{% endif %}{{ nav_page.title }}{% if page.name != nav_page.name %}</a>{% endif %}
    {% unless forloop.last %}|{% endunless %}
{% endfor %}
  </nav>

  <main class="page">
    {{ content }}
  </main>

  <footer id="disclaimer" class="center">
    <p>{{ site.copyright }}</p>
  </footer>
</body>

</html>
